{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add a Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
    <nav style="background-color: #3b1b0c" class="navbar navbar-expand-lg border bottom border-dark">
        <ul class="navbar-nav mr-auto nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'home' %}">
                    Home
                </a>
            </li>
            <li class="nav-item active">
                <a class=" nav-link text-white" href="{% url 'employers' %}">
                    Employers
                </a>
            </li>
            <li class="nav-item active">
                <a class=" nav-link text-white" href="{% url 'resources' %}">
                    Resources
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'admin' %}">
                    Admin
                </a>
            </li>
        </ul>
    </nav>
    <div class=" ">
        <header id="myCarousel2" class="carousel slide ">
            <div class="carousel-inner ">
                <div class="item active">
                    <div class="fill "
                        style="background-image:url({% static 'images/BaseCamp_HeaderFeature_1.jpg' %});">
                        <span class="center-spacer"></span>
                        <img src="{% static 'images/BaseCamp_WebLogo_2.png' %}" style="vertical-align:middle;"
                            alt="Base Camp Coding Academy" />
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container pt-4">
        <div class="card card-color">
            <div class="card-header text-center text-white">
                <h5>
                    Thanks so much for submitting a job to Base Camp Coding
                    Academy!
                </h5>
                <p>
                    We just want to know some details about your job
                    posting..
                </p>
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-3">
        <div class="card ">
            <div class="card-body">
                <form action="{% url 'job' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input name="company" type="text" class="form-control" placeholder="Your company's name..."
                            required />
                    </div>
                    <div class="form-group">
                        <label for="job_title">Job Title</label>
                        <input name="job_title" type="text" class="form-control" placeholder="Job title..." required />
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input name="location" type="text" class="form-control" placeholder="Where is your job located?"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="job_function">Job Function</label>
                        <input name="job_function" type="text" class="form-control" placeholder="Job's function..."
                            required />
                    </div>
                    <div class="form-group">
                        <label for="employment_type">Employment Type</label>
                        <input name="employment_type" type="text" class="form-control" placeholder="Part time..."
                            required />
                    </div>
                    <div class="form-group">
                        <label for="company_industry">Company Industry</label>
                        <input name="company_industry" type="text" class="form-control"
                            placeholder="Software Development..." required />
                    </div>
                    <div class="form-group">
                        <label for="seniority_level">Seniority Level</label>
                        <input name="seniority_level" type="text" class="form-control" placeholder="Manager..."
                            required />
                    </div>
                    <div class="form-group">
                        <label for="job_description">Job Description</label>
                        <textarea name="job_description" class="form-control" placeholder="Describe the job..."
                            required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="logo">Logo</label>
                        <input name="logo" type="url" class="form-control" placeholder="URL for your logo..." />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">
                            Submit Job Posting!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>
